body, div {
    margin-left: auto;
    margin-right: auto;
    width: 180px;
}

input {
    text-align: right;
}

div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.number {
    background-color: white;
}

.operator {
    background-color: yellow;
}

.backspace {
    background-color: orange;
}

.disabled {
    background-color: gray;
}

#equals {
    background-color: blue;
    color: white;
    grid-column: 4 / 4;
    grid-row: 4 / 6;
}

#clear {
    background-color: red;
    color: white;
}

#zero {
    grid-column: 1 / 3;
}

.pressed {
    background-color: green;
    color: white;
}
