body, div {
    width: 180px;
}

input {
    text-align: right;
}

div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.number {
    background-color: white;
}

.operator {
    background-color: yellow;
}

.disabled {
    background-color: gray;
}
